@import "../../../index.css";
.card {
    padding: 40px;
    gap: 10px;
    background: var(--card-color);
    border-radius: 14px;
    margin-top: 24px;
    border: none;
}
.card-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 14px;
    display: inline-table;
}

.card-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: var(--text-color);
    margin-top: 30px;
}
.card:hover{
    color: var(--card-color);
    background-color: var(--cardHov-color);
}
.card:hover .card-title  {
    color: var(--card-color);
}
@media screen and (max-width: 540px) {
    .card {
        width: 22rem;
        height: 85%;
        padding-bottom: 11px;
    }
    .card-icon {
        padding: 8px;
    }
    .card-title {
        font-size: 17px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 414px) {
    .card {
        width: 100%;
        height: 85%;
        padding-bottom: 1px;
        margin-top: 17px;
    }
    .card-icon {
        padding: 8px;
    }
    .card-title {
        font-size: 17px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 393px) {
    .card {
        width: 100%;
        height: 85%;
        padding-bottom: 1px;
        margin-top: 17px;
    }
    .card-icon {
        padding: 8px;
    }
    .card-title {
        font-size: 17px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 375px) {
    .card {
        width: 100%;
        height: 85%;
        padding-bottom: 1px;
        margin-top: 17px;
    }
    .card-bottom {
        margin-left: -16px;
    }
    .card-icon {
        padding: 8px;
    }
    .card-title {
        font-size: 17px;
        margin-top: 10px;
    }
  }
@media screen and (max-width: 280px)  {
    .card {
        width: 80%;
        height: 82%;
    }
    .card-bottom {
        margin-left: -4px;
    }
}