.show-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.show-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 610px;
    height: 242px;
    background: #FFE0BA;
    box-shadow: 0px 0px 32px rgb(255 150 25 / 10%);
    border-radius: 4px;
}
.left-section h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0F2837;
}

.left-section p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0F2837;
}
.left-section button {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 12px 24px;
    gap: 10px;
    background: #0F2837;
    box-shadow: 0px 0px 40px rgba(235, 90, 60, 0.1);
    border-radius: 4px;
    color: var(--main-color);
}
.card-show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 286px;
    height: 242px;
    box-shadow: 0px 0px 32px 8px rgb(15 40 55 / 10%);
    border-radius: 4px;
}
.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.left-show h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        width: 76px;
        height: 87px;
        margin-top: 30px;
}
.left-show div span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.left-show div h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;    
}
.right-show {
    width: 50%;
    height: 50%;
}
.right-show img {
    width: 100%;
    height: 100%;
    background: none;
}
@media screen and (max-width: 912px) {
    .show-one {
        width: 590px;
        height: 219px;
    }
    .card-show {
        margin-top: 20px;
    }
    }
@media screen and (max-width: 768px) {
.show-one {
    width: 590px;
    height: 219px;
}
.card-show {
    margin-top: 20px;
}
}
@media screen and (max-width: 540px) {
    section {
        margin-top: 15px;
      }
    .show-one {
        width: 100%;
        height: 184px;
        margin-top: 37px;
    }
    .left-section {
        width: 43%;
        margin-left: 3px;
    }
    .left-section h3 {
        font-size: 13px;
    }
    .left-section p {
        font-size: 12px;
    }
    .left-section button {
        padding: 8px 8px;
        font-size: 9px;
    }
    span.right-img svg {
        width: 95px;
        margin-left: 8px;
    }
    .card-show {
        width: 100%;
        height: 240px;
        margin-top: 22px;
    }
    .left-show {
        margin-left: 13px;
    }
    .left-show h2 {
        font-size: 18px;
        line-height: 28px;
        width: 83px;
        margin-top: 22px;
        height: 60px;
    }
    .left-show div span {
        font-size: 27px;
        line-height: 30px;
    }
    .left-show div h3 {
        font-size: 19px;
        line-height: 25px;
    }
    .card-body p {
        font-size: 13px;
    }
  }

@media screen and (max-width: 414px) {
    section {
        margin-top: 15px;
      }
    .show-one {
        width: 100%;
        height: 184px;
        margin-top: 37px;
    }
    .left-section {
        width: 43%;
        margin-left: 3px;
    }
    .left-section h3 {
        font-size: 13px;
    }
    .left-section p {
        font-size: 12px;
    }
    .left-section button {
        padding: 8px 8px;
        font-size: 9px;
    }
    span.right-img svg {
        width: 95px;
        margin-left: 8px;
    }
    .card-show {
        width: 100%;
        height: 193px;
        margin-top: 22px;
    }
    .left-show {
        margin-left: 13px;
    }
    .left-show h2 {
        font-size: 18px;
        line-height: 28px;
        width: 83px;
        margin-top: 22px;
        height: 60px;
    }
    .left-show div span {
        font-size: 27px;
        line-height: 30px;
    }
    .left-show div h3 {
        font-size: 19px;
        line-height: 25px;
    }
    .card-body p {
        font-size: 13px;
    }
  }

@media screen and (max-width: 375px) {
    .show-one {
        width: 100%;
        height: 184px;
        margin-top: 37px;
    }
    .left-section {
        width: 43%;
        margin-left: 3px;
    }
    .left-section h3 {
        font-size: 13px;
    }
    .left-section p {
        font-size: 12px;
    }
    .left-section button {
        padding: 8px 8px;
        font-size: 9px;
    }
    span.right-img svg {
        width: 95px;
        margin-left: 8px;
    }
    .card-show {
        width: 100%;
        height: 193px;
        margin-top: 22px;
    }
    .left-show {
        margin-left: 13px;
    }
    .left-show h2 {
        font-size: 18px;
        line-height: 28px;
        width: 83px;
        margin-top: 22px;
        height: 60px;
    }
    .left-show div span {
        font-size: 27px;
        line-height: 30px;
    }
    .left-show div h3 {
        font-size: 19px;
        line-height: 25px;
    }
    .card-body p {
        font-size: 13px;
    }
  }
  @media screen and (max-width: 280px) {
    .show-one {
        width: 176px;
        margin-top: -43px;
        margin-left: -7px;
    }
    .left-section {
        width: 60%;
        margin-left: 5px;
    }
    .left-section h3 {
        font-size: 13px;
    }
    .left-section p {
        font-size: 12px;
    }
    .left-section button {
        font-size: 8px;
    }
    span.right-img svg {
        width: 95px;
        margin-left: 8px;
    }
    .card-show {
        width: 100%;
        height: 206px;
        margin-top: 22px;
    }
    .left-show {
        margin-left: 13px;
    }
    .left-show h2 {
        font-size: 18px;
        line-height: 28px;
        width: 83px;
        margin-top: 22px;
        height: 60px;
    }
    .left-show div span {
        font-size: 27px;
        line-height: 30px;
    }
    .left-show div h3 {
        font-size: 19px;
        line-height: 25px;
    }
    .card-body p {
        font-size: 11px;
        margin-top: 10px;
    }
  }

