.navbar {
    background-color: var(--main-color);
    align-items: center;
    width: 100%;
    height: 78px; 
}
.searchContent {
    align-content: center;
}
.SearchBar {
    align-items: center;
}

.SearchBar-header {
    align-items: center;
    font-size: 21px;
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.SearchBar-header input {
    background-color: var(--bg-color);
    font-size: 24px;
    width: 100%;
}
.search-icon {
    font-size: 25px;
}
.result-body {
    position: relative;
}
.table-search {
    background-color: var(--main-color);
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    height: 50px;
    position: absolute;
    left: -130px;
}
.table-search::-webkit-scrollbar {
    display: none;
}
.table-search tr th, td {
    padding: 10px;
}
.table-search tr:hover {
    background-color: var(--bg-color);
}
.table-search tr td {
    cursor: pointer;
}
.nav {
    align-items: center;
}
.nav-icon {
    cursor: pointer;
}
.nav-icon::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    margin-left: 12px;
    margin-top: -21px;
}

.nav img {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: var(--cardHov-color);
}
@media screen and (max-width: 912px) {
    .nav-img img {
        height: 50px;
        width: 50px;
    }
}
@media screen and (max-width: 820px) {
  

}
@media screen and (max-width: 768px) {
    .nav-img img {
        height: 50px;
        width: 50px;
    }
    }
@media screen and (max-width: 540px) {
    .searchContent {
        margin-left: -7px;
    }
    .SearchBar-header {
        font-size: 18px;
        width: 109px;
    }
    .search-icon {
        font-size: 18px;
    }
    .SearchBar-header input {
        font-size: 13px;
    }
    }
    @media screen and (max-width: 414px) {
        .searchContent {
            margin-left: 26px;
        }
        .nav-icon::after {
            margin-left: 10px;
            margin-top: -20px;
        }
        .nav-img img {
            height: 40px;
            width: 40px;
    }
    .searchContent {
        margin-left: -7px;
    }
    .SearchBar-header {
        font-size: 18px;
        width: 109px;
    }
    .search-icon {
        font-size: 18px;
    }
    .SearchBar-header input {
        font-size: 13px;
    }
}
    @media screen and (max-width: 412px) {
        .searchContent {
            margin-left: 35px;
        }
        .nav img {
            height: 45px;
            width: 45px;
        }
    }
    @media screen and (max-width: 375px) {
        .nav img {
            height: 40px;
            width: 40px;
        }
        .searchContent {
            margin-left: -7px;
        }
        .SearchBar-header {
            font-size: 18px;
            width: 109px;
        }
        .search-icon {
            font-size: 18px;
        }
        .SearchBar-header input {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 360px) {
    }
    @media screen and (max-width: 280px) {
        .navbar {
            margin-left: 0px;
        }
        .searchContent {
            margin-left: -7px;
        }
        .SearchBar-header {
            font-size: 18px;
            width: 109px;
        }
        .search-icon {
            font-size: 18px;
        }
        .SearchBar-header input {
            font-size: 13px;
        }
        .nav img {
            height: 30px;
            width: 30px;
        }

    }