.App {
  position: relative;
  width: 100%;
  height: 100%;
}
.main {
  position: absolute;
  left: 327px;
  top: 0px;
  width: 80%;
  background: var(--bg-color);
}
.container {
  padding: 30px 0px;
  height: 100%;
  margin: 0 auto;
}

img {
  width: 50px;
  height: 50px;
  background: black;
}
section{
  margin-top: 30px;
  z-index: 1;
}
.btn-language {
  width: 167px;
}
  .btn-language div {
    font-size: 12px;
    width: 83%;
  }
@media screen and (max-width: 1280px) {
  .btn-language {
    width: 86px;
  }
  .btn-language div {
    font-size: 12px;
    width: 83%;
  }
}
@media screen and (max-width: 1024px) {
  .btn-language {
    width: 86px;
  }
  .btn-language div {
    font-size: 12px;
    width: 83%;
  }
}
@media screen and (max-width: 912px) {
  .main {
    left: 278px;
    width: 632px;
}
.btn-language {
  width: 86px;
}
.btn-language div {
  font-size: 12px;
  width: 83%;
}
}
@media screen and (max-width: 768px) {
  .main {
    left: 134px;
    width: 633px;
}
.btn-language {
  width: 86px;
}
.btn-language div {
  font-size: 12px;
  width: 83%;
}
}
@media screen and (max-width: 540px) {
  .main {
    left: 140px;
    width: 400px;
}
.btn-language {
  width: 86px;
}
.btn-language div {
  font-size: 12px;
  width: 83%;
}
}
@media screen and (max-width: 414px) {
  .main {
    width: 73%;
}
.btn-language {
  width: 86px;
}
.btn-language div {
  font-size: 12px;
  width: 83%;
}
  }
  @media screen and (max-width: 412px) {
    .main {
      width: 66%;
  }
  .btn-language {
    width: 86px;
  }
  .btn-language div {
    font-size: 12px;
    width: 83%;
  }
  }
  @media screen and (max-width: 393px) {
    .btn-language {
      width: 95px;
    }
      .main {
        width: 63%;
    }
  }
@media screen and (max-width: 375px) {
  .main {
    width: 62.5%;
}
section {
  margin-top: 15px;
}
.btn-language {
  width: 95px;
}
}
@media screen and (max-width: 280px) {
  .main {
    margin-left: -65px;
    width: 205px;
}
.btn-language {
  width: 86px;
}
.btn-language div {
  font-size: 12px;
  width: 83%;
}
}