
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --text-color: #000000;
  --hovSideText-color: #F3F5F8;
  --bg-color: #F5F5F5;
  --main-color: #FFFFFF;
  --hovFooter-color: #d148d1;
  --card-color: #ffffff;
  --cardHov-color: #9241ff;
}
a {
  text-decoration: none;
}
